/***** Navbar *****/
#navbarResponsive .navbar-nav {
    font-size: 20px;
}

#navbarResponsive .navbar-nav li {
    margin-left: 15px;
}

/***** Body *****/
html body {
    /* font-family:"Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif"; */
    /* font-family: initial; */
    overflow-x: hidden;
}

h1,h2,h3,h4{font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700}
h2.section-heading{font-size:40px;margin-top:0;margin-bottom:15px}
h3.section-subheading{font-size:16px;font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:none;font-style:italic;font-weight:400;margin-bottom:40px}

.contenedor {
    margin: 0 auto;
    margin-top: 160px;
    text-align: center;
    width: 85%;
}

.clients {
    margin-top: 140px;
}

#carousel {
    max-width: 70%;
}

.center-h {
    margin: 0 auto;
}

.redaction {
    font-size: 16px;
    margin-bottom: 100px;
}

.lightgrey {
    background-color: #f5f2f2;
}

.separar-50 {
    margin-top:50px;
}

/***** About *****/
#inicio :not(:first-child) img {
    width: 350px;
    margin-bottom: 15px;
}

/***** Vacaciones en Paz *****/
#VacaPaz img {
    margin-bottom: 30px;
}
.panel-body, .panel-default {
    margin-bottom: 60px;
}

/***** Timeline *****/
.timeline-image img {max-width: 100%;}
.timeline{list-style:none;padding:0;position:relative}
.timeline:before{top:0;bottom:0;position:absolute;content:"";width:2px;background-color:#f1f1f1;left:40px;margin-left:-1.5px}
.timeline>li{margin-bottom:50px;position:relative;min-height:50px}
.timeline>li:before,.timeline>li:after{content:" ";display:table}
.timeline>li:after{clear:both}
.timeline>li .timeline-panel{width:100%;float:right;padding:0 20px 0 100px;position:relative;text-align:left}
.timeline>li .timeline-panel:before{border-left-width:0;border-right-width:15px;left:-15px;right:auto}
.timeline>li .timeline-panel:after{border-left-width:0;border-right-width:14px;left:-14px;right:auto}
.timeline>li .timeline-image{left:0;margin-left:0;width:80px;height:80px;position:absolute;z-index:100;background-color:#fed136;color:#fff;border-radius:100%;border:7px solid #f1f1f1;text-align:center}
.timeline>li .timeline-image h4{font-size:10px;margin-top:12px;line-height:14px}
.timeline>li.timeline-inverted>.timeline-panel{float:right;text-align:left;padding:0 20px 0 100px}
.timeline>li.timeline-inverted>.timeline-panel:before{border-left-width:0;border-right-width:15px;left:-15px;right:auto}
.timeline>li.timeline-inverted>.timeline-panel:after{border-left-width:0;border-right-width:14px;left:-14px;right:auto}
.timeline>li:last-child{margin-bottom:0}
.timeline .timeline-heading h4{margin-top:0;color:inherit}
.timeline .timeline-heading h4.subheading{text-transform:none}
.timeline .timeline-body>p,.timeline .timeline-body>ul{margin-bottom:0}
@media (min-width:768px){.timeline:before{left:50%}.timeline>li{margin-bottom:100px;min-height:100px}
.timeline>li .timeline-panel{width:41%;float:left;padding:0 20px 20px 30px;text-align:right}
.timeline>li .timeline-image{width:100px;height:100px;left:50%;margin-left:-50px}
.timeline>li .timeline-image h4{font-size:13px;margin-top:16px;line-height:18px}
.timeline>li.timeline-inverted>.timeline-panel{float:right;text-align:left;padding:0 30px 20px 20px}}
@media (min-width:992px){.timeline>li{min-height:150px}
.timeline>li .timeline-panel{padding:0 20px 20px}
.timeline>li .timeline-image{width:150px;height:150px;margin-left:-75px}
.timeline>li .timeline-image h4{font-size:18px;margin-top:30px;line-height:26px}
.timeline>li.timeline-inverted>.timeline-panel{padding:0 20px 20px}}
@media (min-width:1200px){.timeline>li{min-height:170px}
.timeline>li .timeline-panel{padding:0 20px 20px 100px}
.timeline>li .timeline-image{width:170px;height:170px;margin-left:-85px}
.timeline>li .timeline-image h4{margin-top:40px}
.timeline>li.timeline-inverted>.timeline-panel{padding:0 100px 20px 20px}}


/***** Colaboran *****/
.clients img {
    width: 280px;
    margin-bottom: 50px;
}

/***** Footer *****/
footer {margin-top:30px;}

.footer-top { padding: 60px 0; background: #333; text-align: left; color: #aaa; }
.footer-top h3 { padding-bottom: 10px; color: #fff; }

.footer-about img.logo-footer { max-width: 74px; margin-top: 0; margin-bottom: 18px; }
.footer-about p a { color: #aaa; border-bottom: 1px dashed #666; }
.footer-about p a:hover, .footer-about p a:focus { color: #fff; border-color: #aaa; }

.footer-contact p { word-wrap: break-word; }
.footer-contact i { padding-right: 10px; font-size: 18px; color: #666; }
.footer-contact p a { color: #aaa; border-bottom: 1px dashed #666; }
.footer-contact p a:hover, .footer-contact p a:focus { color: #fff; border-color: #aaa; }

.footer-social a { display: inline-block; margin-right: 20px; margin-bottom: 8px; color: #777; border: 0; }
.footer-social a:hover, .footer-social a:focus { color: #aaa; border: 0; }
.footer-social i { font-size: 24px; vertical-align: middle; }

.footer-bottom { padding: 15px 0; background: #444; text-align: left; color: #aaa; }

.footer-copyright p { margin: 0; padding: 0.5rem 0; }
.footer-copyright a { color: #fff; border: 0; }
.footer-copyright a:hover, .footer-copyright a:focus { color: #aaa; border: 0; }

/* footer navbar */
.navbar { padding: 0; background: #444; backface-visibility: hidden; }

.navbar-dark .navbar-nav { font-size: 15px; color: #fff; font-weight: 400; }
.navbar-dark .navbar-nav .nav-link { color: #fff; border: 0; }
.navbar-dark .navbar-nav .nav-link:hover { color: #aaa; }
.navbar-dark .navbar-nav .nav-link:focus { color: #aaa; outline: 0; }

.navbar-expand-md .navbar-nav .nav-link { padding-left: 1rem; padding-right: 1rem; }


/***** Blog *****/
.blog {
    font-family: "Open Sans",sans-serif;
}
.blog h1, h2, h3, h4 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.1;
    color: inherit;
}
section.featured-posts .row:nth-of-type(odd) .text{background:#fafafa}section.featured-posts .row:last-of-type{margin-bottom:0}section.featured-posts p{font-weight:400;color:#777;font-size:0.95em}section.featured-posts .text-inner{padding:70px 30px;height:100%;-webkit-transition:all 0.3s;transition:all 0.3s}section.featured-posts a{/*color:inherit;text-decoration:none*/}section.featured-posts h2{line-height:1.1em;color:#333;-webkit-transition:all 0.3s;transition:all 0.3s}section.featured-posts h2:hover{color:#555}section.featured-posts .avatar{max-width:40px;min-width:40px;height:40px;overflow:hidden;border-radius:50%;margin-right:10px}section.featured-posts .title,section.featured-posts .date,section.featured-posts .comments{font-size:0.8em;font-weight:400;color:#999}section.featured-posts .title i,section.featured-posts .date i,section.featured-posts .comments i{margin-right:5px}section.featured-posts .title::after,section.featured-posts .date::after,section.featured-posts .comments::after{content:'|';display:inline-block;margin:0 7px;font-size:0.9em;color:#ccc}section.featured-posts .comments::after{display:none}section.featured-posts .image{max-height:200px;width:auto;overflow:hidden;padding:0;margin-top:60px;margin-bottom:60px;}section.featured-posts .image img{height:100%}section.featured-posts .post-header{margin-bottom:10px}section.featured-posts .post-footer{margin-top:30px}@media (max-width: 991px){section.featured-posts .image{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1;max-height:300px;min-height:auto !important}section.featured-posts .image img{width:100%;/*height:auto !important*/}section.featured-posts .text{-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2}}@media (max-width: 575px){section.featured-posts .post-footer{font-size:0.9em}}@media (max-width: 350px){section.featured-posts .text-inner{padding:15px}section.featured-posts .post-footer{font-size:0.75em}}
.featured-posts header {
    font-family: "Open Sans",sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #212529;
    text-align: left;

}
.featured-posts p {
    text-align: left;
}
section.featured-posts .title::after, section.featured-posts .date::after, section.featured-posts .comments::after {
    content: '';
}
section.featured-posts h2 {
    font-weight: 600;
}
.buttons form {
    display: inline;
}
.post-single img {
    margin-top: 30px;
    margin-bottom: 30px;
}

/***** Formularios - Eventos *****/
.form-events {
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 80px;
}
.form-events input {
    margin-top: 10px;
}
.form-events button {
    max-width: auto;
    margin-top: 10px;
}
.form-events a {
    max-width: auto;
    margin-top: 10px;
}
.form-events textarea {
    margin-top: 10px;
}
.form-events input.form-control.ng-invalid {
    border: 1px solid red;
}
.form-events textarea.form-control.ng-invalid {
    border: 1px solid red;
}
.error-text {
    width: 50%;
    color: red;
    margin: 0 auto;
}

/***** Imágenes *****/
.img-thumbnail {
    height: 235px;
    margin-top: 10px;
}